<form (ngSubmit)="onSignInSubmit()" #f="ngForm">
  <div class="form-group">
    <label for="email">Email address</label>
    <input id="email"
           type="email"
           required
           name='email'
           [(ngModel)]="signInUser.email"
           class="form-control validate">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password"
           type="password"
           required
           name='password'
           [(ngModel)]="signInUser.password"
           class="form-control validate">
  </div>
  <button type="submit" class="btn btn-default"
          [disabled]="!(f.valid)"
          [ngClass]="{'disabled': !(f.valid)}">
    Login
  </button>
</form>
