<h1>#{{ticket.id}} - {{TicketStatus[ticket.status] | titlecase}} - {{ticket.title}}</h1>
<dl class="dl-horizontal">
  <dt>Autor:</dt>
  <dd>{{ticket.user.email}}</dd>
  <dt>Description:</dt>
  <dd>{{ticket.description}}</dd>
  <dt *ngIf="ticket.closed_at">Closed at:</dt>
  <dd *ngIf="ticket.closed_at">{{ticket.closed_at | date: 'medium'}}</dd>
</dl>

<button *ngIf="!ticket.closed_at" id="closeButton" (click)="closeTicket()" class="btn btn-danger">
  Close
</button>
<hr>
<h2>Answers</h2>
<div *ngFor="let answer of answers" class="alert"
     [ngClass]="{'alert-info': answer.user.type == UserType.CUSTOMER,
                 'alert-warning': answer.user.type == UserType.AGENT,
                 'alert-danger': answer.user.type == UserType.ADMIN}">
  <dl class="dl-horizontal">
    <dt>Autor:</dt>
    <dd>{{answer.user.email}}</dd>
    <dt>Message:</dt>
    <dd>{{answer.message}}</dd>
  </dl>
</div>

<form (ngSubmit)="onAnswerSubmit()" #f="ngForm">
  <input type="hidden" name="ticket_id" value="{{ticket.id}}">
  <div class="form-group">
    <label for="message">Message</label>
    <textarea name="message"
              id="message"
              required
              class="form-control validate"
              [(ngModel)]="newAnswer.message"
              cols="30" rows="10"></textarea>
  </div>
  <button type="submit" class="btn btn-primary"
          [disabled]="!(f.valid)"
          [ngClass]="{'disabled': !(f.valid)}">
    Send
  </button>
</form>


