<button *ngIf="loggedUser.type == UserType.CUSTOMER" [routerLink]="['/tickets/new']" class="btn btn-primary">
  <i class="glyphicon glyphicon-plus"></i> Open a Ticket
</button>
<button *ngIf="loggedUser.type != UserType.CUSTOMER" class="btn btn-warning" (click)="downloadReport()">
  <i class="glyphicon glyphicon-file"></i> Report of closed tickets in last one month
</button>
<br><br>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>Title</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ticket of tickets">
    <td>{{ticket.id}}</td>
    <td>{{ticket.title}}</td>
    <td>{{TicketStatus[ticket.status]}}</td>
    <td class="table-actions">
      <button routerLink="{{ticket.id}}/show" class="btn btn-sm btn-info">
        <i class="glyphicon glyphicon-search"></i>
      </button>
      <button *ngIf="loggedUser.type != UserType.AGENT" routerLink="{{ticket.id}}/edit" class="btn btn-sm btn-warning">
        <i class="glyphicon glyphicon-pencil"></i>
      </button>
      <button *ngIf="loggedUser.type != UserType.AGENT" (click)="deleteTicket(ticket)" class="btn btn-sm btn-danger"
              title="Remove">
        <i class="glyphicon glyphicon-trash"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
